body {
    margin: 0;
    padding-top: 0;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    padding: 0px 0px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #134dca;
}
nav{
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
.photo-2{
    margin: 10px;
}
.architecture-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.architecture-2{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 445px;
}
.architecture-2 img{
    margin-top: 20px;
}
.para-1{
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
  line-height: 1.5;
}
.para-1 p{
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.button-1{
   color: #134dca;
   padding: 10px 20px;
   margin: 10px;
   border-radius: 5px;
   font-family: Arial, sans-serif;
   font-size: 16px;
   text-align: center;
   cursor: pointer;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    background-color: #134dca;
}
.footer-2{
    margin-bottom: auto;
}
.footer-1{
    margin-top: auto;
}
.icons-1 div {
    display: flex;
    align-items: center; 
    margin-bottom: 10px;
}

.icons-1 i {
    font-size: 20px;
    margin-right: 10px;
}
.icons-1 img{
    border-radius: 15px;
    width: 55px;
    height: auto;
    margin-right: 10px;
}